.navbar{
    background-color: black;
    height: 55px;
    width: 100%;
    color:white;
    display: inline-flex;
    justify-content: space-between;
   
    
 

}
@media(max-width:600px){
    .navbar{
        width:900px;
        height: 100px;
    }
       
       
}
